<div class="">
	<h2> how much do you want to bet? </h2>
	<h3> you have $<%= session[:total] %> </h3>
	<form class="form-inline" action="/bet" method="post">
	  <fieldset>


	  	<div class="input-prepend input-append bet_input">
		  <span class="add-on">$</span>
		  <input class="input-small" type="text" name="player_bet" placeholder="100">
		  <span class="add-on">.00</span>
		</div>
	    <button type="submit" class="btn btn-success"><i class="icon-play"></i> start </button>
	  </fieldset>
	</form>
</div>