<form class="center_me form-inline" action="/new_player" method="post">
  <fieldset>
    <legend>your name?</legend>
    <input type="text" name="player_name">
    <button type="submit" class="btn btn-success">continue</button>
  </fieldset>
</form>