<form action="/start_game" method="post">
  <fieldset>
    <legend>What is your name?</legend>
    <input type="text" name="player_name" placeholder="your name">
    <button type="submit" class="btn">Submit</button>
  </fieldset>
</form>