<h3>your name?</h3>
<form class="form-inline" action="/new_player" method="post">
  <fieldset>
    <input type="text" name="player_name">
    <button type="submit" class="btn btn-success">continue</button>
  </fieldset>
</form>