body {
	background-color: white;
	font-family:Cabin,sans-serif;
}

form {
	float:left;
	margin-right:10px;
}

form#stay_form {
	float:left;
}

.card {
	margin-right:10px;
	float:left;
	width:100px;
}

img {
	border-radius:5px;
	box-shadow:-2px 2px 5px #888888;
}

.overlap {
	margin-right:-50px;
}

.clear {
	clear:both;
}

div.extend {
	overflow: auto
}

.center_me {
	text-align:center;
	margin-left:35%;
	margin-right:35%;
}

#game {
	margin-top:30px;
}

.persons_hand {
	margin-bottom:30px;
	text-align:center;
}

.active_well {
	background-color: #c1dbae;
}

ul {
	list-style-type: none;
}

.bets {
	margin-top:12px;
	margin-right:30px;
	text-decoration: none;
}

li.pull-right a {
	color: #AAA;
}

.bets:hover {
	color:green;
}