body {
	background-color: white;
	font-family:Cabin,sans-serif;
}

form#hit_form {
	float:left;
	margin-right:10px;
}

form#stay_form {
	float:left;
}

.card {
	margin-right:10px;
	float:left;
	width:80px;
}

div.clear {
	clear:both;
}

div.extend {
	overflow: auto;
	width: 100%
}