body {
	background-color: white;
	font-family:Cabin,sans-serif;
}

form {
	float:left;
	margin-right:10px;
}

form#stay_form {
	float:left;
}

.card {
	margin-right:10px;
	float:left;
	width:100px;
	box-shadow:-2px 2px 5px #888888;
}

.overlap {
	margin-right:-50px;
}

.clear {
	clear:both;
}

div.extend {
	overflow: auto
}

.center_me {
	text-align:center;
	margin-left:35%;
	margin-right:35%;
}